<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .two {
        background-color: red;
      }
      .three {
        background-color: blue;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- {{greeting}} -->
      <login-form></login-form>
      <!-- <input @keyup.enter="greet(greeting+'!!!$%')" v-model="greeting" /> -->
      <hr />
      <!-- <button v-on:click="isVisible=!isVisible">show box</button> -->
      <button @click.middle="toggleBox">toggle box</button>
      <div v-if="isVisible" class="box"></div>
      <!-- <div v-else-if="isVisible2" class="box two"></div> -->
      <!-- <div v-else="isVisible" class="box three"></div> -->
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue 3",
            isVisible: false,
            isVisible2: true,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
      });
      app.component("login-form", {
        template: `
          <form @submit.prevent="handleSubmit">
            <h1>{{title}}</h1>
            <custom-input v-model="email" :modelValue="email" :label="emailLabel"></custom-input>
            <custom-input v-model="password" :modelValue="password" :label="passwordLabel"></custom-input>
            <button>submit</button>
          </form>

        `,
        components: ["custom-input"],
        data() {
          return {
            title: "login form",
            email: "",
            password: "",
            emailLabel: "email",
            passwordLabel: "password",
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email, this.password);
          },
        },
      });
      app.component("custom-input", {
        template: `
          <label>
            {{label}}
            <input type="text" v-model="inputValue">
          </label>
        `,
        props: ["label", "modelValue"],
        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              // console.log(value)
              this.$emit("update:modelValue", value);
            },
          },
        },
        // data(){
        //   return{
        //     inputValue:''
        //   }
        // }
      });
      app.mount("#app");
    </script>
  </body>
</html>
